.dashboard_AddNewVehicleComponent {
  height: 200%;
  width: 100%;
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 20px 15px 0 15px;
  animation: dashboard_AddNewVehicleComponentLoadIn 0.2s 1 ease-in-out;
}

@keyframes dashboard_AddNewVehicleComponentLoadIn {
  0% {
    opacity: 0%;
    transform: scale(85%);
  }
  100% {
    opacity: 100%;
    transform: scale(100%);
  }
}

.dashboard_AddNewVehicleComponent .sectionHeading {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_AddNewVehicleComponent .sectionHeading h2 {
  width: 400px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  background-color: rgba(240, 255, 255, 0.481);
  backdrop-filter: blur(8px);
  padding: 10px 20px;
  position: relative;
  top: -20px;
  border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 979px) {
  .dashboard_AddNewVehicleComponent .sectionHeading h2 {
    width: 100%;
  }
}

.dashboard_AddNewVehicleComponent .sectionSubHeading {
  margin-bottom: 15px;
  font-weight: 400;
}

.dashboard_AddNewVehicleComponent .overviewHolder {
  margin: 0 0 30px 0;
  width: 100%;
  /* border: 2px solid rgba(240, 255, 255, 0.481); */
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.dashboard_AddNewVehicleComponent .overviewHolder .itemCard {
  height: 170px;
  width: 170px;
  margin: 0 0 15px 0;
  padding: 15px;
  /* border: 2px solid #405f0390; */
  border-radius: 5px;
  /* background-color: #ccc; */
  background: rgb(218, 218, 218);
  background: linear-gradient(
    232deg,
    rgba(218, 218, 218, 1) 0%,
    rgba(198, 198, 198, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.05s ease-in-out;
}

.dashboard_AddNewVehicleComponent .overviewHolder .itemCard:active {
  transform: scale(95%);
}

@media only screen and (max-width: 979px) {
  .dashboard_AddNewVehicleComponent .overviewHolder {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 980px) {
  .dashboard_AddNewVehicleComponent .overviewHolder .itemCard {
    margin-right: 15px;
  }
}

.dashboard_AddNewVehicleComponent .formHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard_AddNewVehicleComponent .formHolder input {
  width: 32.5%;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  border: 2px solid rgba(0, 0, 0, 0);
  color: #333;
  background-color: rgba(225, 225, 225, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

.dashboard_AddNewVehicleComponent .formHolder input:focus {
  border: 2px solid #415f03;
}

@media only screen and (max-width: 979px) {
  .dashboard_AddNewVehicleComponent .formHolder input {
    width: 100%;
  }
}

.dashboard_AddNewVehicleComponent .formHolder input:disabled {
  background-color: rgba(225, 225, 225, 0);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.dashboard_AddNewVehicleComponent .formHolder .submitBtn {
  width: 32.5%;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  border: 2px solid #708e39;
  color: #ccc;
  background-color: #516c1d;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dashboard_AddNewVehicleComponent .formHolder .submitBtn:disabled {
  background-color: rgba(88, 88, 88, 0.2);
  color: rgb(88, 88, 88);
  border: 2px solid rgb(88, 88, 88);
  cursor: not-allowed;
}
