.vehicleDetailsBar {
  position: fixed;
  bottom: 15px;
  right: 10px;
  width: calc(100vw - 345px);
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.466);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

@media only screen and (max-width: 490px) {
  .online  {
    border-left: 5px solid green ;
  }
  .offline  {
    border-left: 5px solid rgb(189, 0, 0) ;
  }
  .connecting  {
    border-left: 5px solid rgb(229, 168, 0) ;
  }
}

@media only screen and (max-width: 979px) {
  .vehicleDetailsBar {
    width: calc(100vw - 20px);
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
  }
}

.vehicleNumAndStatus {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 401px) {
  .vehicleNumAndStatus h1{
    font-size: 25px;
    margin-bottom: 8px;
  }
}

.onlineStatus {
  margin-left: 10px;
  width: 75px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 15px;
}

@media only screen and (max-width: 490px) {
  .onlineStatus,
  .driverContactNumber {
    display: none;
  }
}

.vehicleNumAndStatus .online {
  border: 1px solid green;
  background-color: rgba(0, 128, 0, 0.25);
}

.vehicleNumAndStatus .online p {
  color: green;
}

.vehicleNumAndStatus .offline {
  border: 1px solid rgb(189, 0, 0);
  background-color: rgba(189, 0, 0, 0.25);
}

.vehicleNumAndStatus .offline p {
  color: rgb(189, 0, 0);
}

.vehicleNumAndStatus .connecting {
  border: 1px solid rgb(174, 136, 34);
  background-color: rgba(174, 136, 34, 0.25);
}

.vehicleNumAndStatus .connecting p{
  color: rgb(174, 136, 34);
}

.vehicleDetailsHolder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dpHolder {
  width: 85px;
  height: 85px;
  margin-right: 15px;
  background-size: cover;
  border: 3px solid #415f03;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px 5px rgba(68, 68, 68, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
  .dpHolder {
    display: none;
  }
}

.avgSpeedHolder {
  border-radius: 50%;
  border: 5px solid rgb(189, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  background: rgb(172, 172, 172);
  background: linear-gradient(
    225deg,
    rgb(204, 204, 204) 0%,
    rgb(231, 231, 231) 100%
  );
}

@media only screen and (max-width: 750px) {
  .avgSpeedHolder {
    display: none;
  }
}

.avgSpeed {
  font-size: 35px;
  font-weight: 900;
}

.avgSpeedUnit {
  font-size: 15px;
  font-weight: 200;
  line-height: 0px;
  margin-bottom: 12px;
}

.actionsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 15px;
}

@media only screen and (max-width: 1180px) {
  .actionsHolder {
    margin-right: 0px;
    flex-wrap: wrap;
    width: 165px;
  }
}

.actionsHolder .btn {
  height: 50px;
  width: 50px;
  margin-left: 8px;
  background-color: brown;
  border-radius: 50%;
}

.visitedLocationsListToggleBtn {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: rgba(247, 247, 247, 0.948);
  box-shadow: 0px 0px 5px 5px rgba(68, 68, 68, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  top: -90px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.05s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.visitedLocationsListToggleBtn:active {
  transform: scale(90%);
}

@media only screen and (min-width: 981px) {
  .visitedLocationsListToggleBtn {
    display: none;
  }
}

.visitedLocationsListToggleBtn img {
  height: 40px;
  width: 40px;
}

.outerAvgSpeedHolder {
  border-radius: 50%;
  border: 5px solid rgb(189, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  background: rgb(172, 172, 172);
  background: linear-gradient(
    225deg,
    rgb(204, 204, 204) 0%,
    rgb(231, 231, 231) 100%
  );
  position: absolute;
  top: -180px;
  right: 0px;
  transition: right 0.3s ease-in-out;
}

@media only screen and (min-width: 751px) {
  .outerAvgSpeedHolder {
    display: none;
  }
}

.outerAvgSpeed {
  font-size: 35px;
  font-weight: 900;
}

.outerAvgSpeedUnit {
  font-size: 15px;
  font-weight: 200;
  line-height: 0px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 401px) {
  .hideOnSmallScreen{
    display: none;
  }
}